# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log

# Virtual environments
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/


# Data and reports
#data/
#reports/
vectorstores/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# PyCharm / VSCode
.idea/
.vscode/
