pandas
python-docx
openai
langchain
langchain-community
faiss-cpu
tiktoken
chromadb
markdown
mistune
reportlab
pypandoc
jupyter
ipykernel
python-dotenv
openpyxl
langchain
langchain-community
langchain-openai
faiss-cpu
langgraph
tavily-python
reportlab
weasyprint
streamlit